# ==============================
# Redis
# ==============================
REDIS_HOST=redis
REDIS_PORT=6379
APP_TIMEZONE=America/Sao_Paulo

# ==============================
# NVR JFTech (obrigatório para download real)
# ==============================
NVR_IP=192.168.0.168
NVR_PORT=34567
NVR_USERNAME=service
NVR_PASSWORD=troque_aqui
